body {
  margin: 0;
  background: black;
  color: #00ff88;
  font-family: monospace;
  overflow: hidden;
}

#screen {
  width: 100vw;
  height: 100vh;
  display: block;
}

#hud {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #00ff88;
  text-shadow: 0 0 5px #00ff88;
}

/* scanlines */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,100,0.05),
    rgba(0,255,100,0.05) 2px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
}
